<div class="aboutme w-100 view">
  <div class="aboutme__content container">

    <header class="text-center"
    data-aos-delay="25"
    data-aos-duration="1000"
    data-aos="flip-up">
      <div class="profilePic__container"></div>

      <h3 class="name mb-3">Mohamed Yousef <span>(010822)</span> </h3>
      <div class="header__info">
        <p class="mb-1">Bellmansgatan 9A, 722 22, Västerås</p>
        <p class="mb-1">mohamedabdulridha1@gmail.com</p>
        <p class="mb-3">+46765794658</p>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <a href="https://github.com/ho1m" target="_blank" class="btn btn-sm btn-dark">Github</a>
        <button class="btn btn-sm btn-secondary ms-1" routerLink="/contactme" >Kontakta mig</button>
      </div>
    </header>

    <main>
      <section data-aos="fade-right">
        <h2>Utbildning</h2>
        <div class="sec__item">
          <h5>Gymnasium - Carlforsska Ekonomi- & Handelsskolan</h5>
          <p>Ekonomiprogrammet, Ekonomi</p>
          <h6>2016 - 2019</h6>
        </div>
        <div class="sec__item">
          <h5>Yrkeshögskola - EC Utbildning</h5>
          <p>Frontendutveckling</p>
          <h6>2020 - 2022</h6>
        </div>
      </section>
      <section data-aos="fade-left">
        <h2>Arbetslivserfarenhet</h2>
        <div class="sec__item">
          <h5>Telefonförsäljare - Silentium AB</h5>
          <p>Sälja och uppgradera bredbandsabonnemang åt Telia.</p>
          <h6>2018 (APRIL) - 2018 (MAJ)</h6>
        </div>
        <div class="sec__item">
          <h5>Restaurangbiträde - MAX Burgers AB</h5>
          <p>Kassa, kök, drive-thru, servering och städning.</p>
          <h6>2019 (AUG) - 2019 (OKT)</h6>
        </div>
        <div class="sec__item">
          <h5>Lagerarbetare - Coop Logistik AB</h5>
          <p>Köra truck (A1), plocka varor, avsluta
            beställning.</p>
          <h6>2019 (NOV) - 2020 (APRIL)</h6>
        </div>
      </section>
      <section data-aos="fade-right">
        <h2>Kompetenser</h2>
        <div class="sec__item">
          <h5>Programmingsspråk/Skills -</h5>
          <p>JavaScript, HTML, CSS, SCSS, React, Vue, Redux, Vuex, MongoDB, Heroku, Firebase ...</p>
        </div>
        <div class="sec__item">
          <h5>Språk -</h5>
          <p>Svenska, engelska & arabiska</p>
        </div>
      </section>
    </main>

    <footer>
      <div class="d-flex align-items-center justify-content-center p-5">
        <a href="https://github.com/ho1m" target="_blank" class="btn btn-sm btn-dark">Github</a>
        <button class="btn btn-sm btn-secondary ms-1" routerLink="/contactme" >Kontakta mig</button>
      </div>
    </footer>

  </div>
</div>