<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="navbar-brand flex-grow-1">
      <i class="fas fa-code"></i>
      <a class="navbar-brand" routerLink="/">Mohamed Yousef</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/aboutme">Om Mig</a>
        <a class="nav-link" routerLink="/contactme">Kontakt</a>
      </div>
    </div>
  </div>
</nav>